<div class="portal" [class.sidebar-open]="sidebarOpen">
  <!-- header -->
  <header class="app-header">
    <em class="material-icons sidebar-btn" (click)="sidebarOpen = !sidebarOpen">
      keyboard_double_arrow_left
    </em>
    <h3>XYZ</h3>
    <em class="material-icons theme-btn" (click)="toggleTheme()">
      light_mode
    </em>
  </header>

  <!-- sidebar -->
  <nav class="app-sidebar">
    <ul>
      <li *ngFor="let item of navItems">
        <a [routerLink]="item.link" routerLinkActive="active">
          <em class="material-icons">{{item.icon}}</em>
          <span>{{item.label}}</span>
        </a>
      </li>
    </ul>
  </nav>

  <!--  content-->
  <main class="container">
    <router-outlet></router-outlet>
  </main>
</div>
