<div class="home-wrapper">
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        card 1
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        card 2
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        card 3
      </div>
    </div>
  </div>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus elit tellus, et pretium sem ultrices eu.
    Maecenas volutpat a dolor at auctor. Integer ut velit lorem. Orci varius natoque penatibus et magnis dis parturient
    montes, nascetur ridiculus mus. Fusce rutrum mauris at risus condimentum faucibus. Praesent non commodo erat. Proin
    id lectus id nunc eleifend tincidunt finibus vel leo. Suspendisse mollis, purus a efficitur ultrices, lacus mauris
    imperdiet urna, vel ultricies urna ex vel eros. Sed mollis tortor id vulputate commodo. Donec maximus tincidunt
    metus, sit amet porta turpis feugiat eget. Pellentesque nec efficitur tortor. Proin vel magna ac diam suscipit
    blandit sit amet vel justo. Vestibulum augue purus, pretium in neque non, venenatis pulvinar magna. Aliquam sem
    lectus, pulvinar eget sapien quis, rutrum semper nisl.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus elit tellus, et pretium sem ultrices eu.
    Maecenas volutpat a dolor at auctor. Integer ut velit lorem. Orci varius natoque penatibus et magnis dis parturient
    montes, nascetur ridiculus mus. Fusce rutrum mauris at risus condimentum faucibus. Praesent non commodo erat. Proin
    id lectus id nunc eleifend tincidunt finibus vel leo. Suspendisse mollis, purus a efficitur ultrices, lacus mauris
    imperdiet urna, vel ultricies urna ex vel eros. Sed mollis tortor id vulputate commodo. Donec maximus tincidunt
    metus, sit amet porta turpis feugiat eget. Pellentesque nec efficitur tortor. Proin vel magna ac diam suscipit
    blandit sit amet vel justo. Vestibulum augue purus, pretium in neque non, venenatis pulvinar magna. Aliquam sem
    lectus, pulvinar eget sapien quis, rutrum semper nisl.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus elit tellus, et pretium sem ultrices eu.
    Maecenas volutpat a dolor at auctor. Integer ut velit lorem. Orci varius natoque penatibus et magnis dis parturient
    montes, nascetur ridiculus mus. Fusce rutrum mauris at risus condimentum faucibus. Praesent non commodo erat. Proin
    id lectus id nunc eleifend tincidunt finibus vel leo. Suspendisse mollis, purus a efficitur ultrices, lacus mauris
    imperdiet urna, vel ultricies urna ex vel eros. Sed mollis tortor id vulputate commodo. Donec maximus tincidunt
    metus, sit amet porta turpis feugiat eget. Pellentesque nec efficitur tortor. Proin vel magna ac diam suscipit
    blandit sit amet vel justo. Vestibulum augue purus, pretium in neque non, venenatis pulvinar magna. Aliquam sem
    lectus, pulvinar eget sapien quis, rutrum semper nisl.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus elit tellus, et pretium sem ultrices eu.
    Maecenas volutpat a dolor at auctor. Integer ut velit lorem. Orci varius natoque penatibus et magnis dis parturient
    montes, nascetur ridiculus mus. Fusce rutrum mauris at risus condimentum faucibus. Praesent non commodo erat. Proin
    id lectus id nunc eleifend tincidunt finibus vel leo. Suspendisse mollis, purus a efficitur ultrices, lacus mauris
    imperdiet urna, vel ultricies urna ex vel eros. Sed mollis tortor id vulputate commodo. Donec maximus tincidunt
    metus, sit amet porta turpis feugiat eget. Pellentesque nec efficitur tortor. Proin vel magna ac diam suscipit
    blandit sit amet vel justo. Vestibulum augue purus, pretium in neque non, venenatis pulvinar magna. Aliquam sem
    lectus, pulvinar eget sapien quis, rutrum semper nisl.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus elit tellus, et pretium sem ultrices eu.
    Maecenas volutpat a dolor at auctor. Integer ut velit lorem. Orci varius natoque penatibus et magnis dis parturient
    montes, nascetur ridiculus mus. Fusce rutrum mauris at risus condimentum faucibus. Praesent non commodo erat. Proin
    id lectus id nunc eleifend tincidunt finibus vel leo. Suspendisse mollis, purus a efficitur ultrices, lacus mauris
    imperdiet urna, vel ultricies urna ex vel eros. Sed mollis tortor id vulputate commodo. Donec maximus tincidunt
    metus, sit amet porta turpis feugiat eget. Pellentesque nec efficitur tortor. Proin vel magna ac diam suscipit
    blandit sit amet vel justo. Vestibulum augue purus, pretium in neque non, venenatis pulvinar magna. Aliquam sem
    lectus, pulvinar eget sapien quis, rutrum semper nisl.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus elit tellus, et pretium sem ultrices eu.
    Maecenas volutpat a dolor at auctor. Integer ut velit lorem. Orci varius natoque penatibus et magnis dis parturient
    montes, nascetur ridiculus mus. Fusce rutrum mauris at risus condimentum faucibus. Praesent non commodo erat. Proin
    id lectus id nunc eleifend tincidunt finibus vel leo. Suspendisse mollis, purus a efficitur ultrices, lacus mauris
    imperdiet urna, vel ultricies urna ex vel eros. Sed mollis tortor id vulputate commodo. Donec maximus tincidunt
    metus, sit amet porta turpis feugiat eget. Pellentesque nec efficitur tortor. Proin vel magna ac diam suscipit
    blandit sit amet vel justo. Vestibulum augue purus, pretium in neque non, venenatis pulvinar magna. Aliquam sem
    lectus, pulvinar eget sapien quis, rutrum semper nisl.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus elit tellus, et pretium sem ultrices eu.
    Maecenas volutpat a dolor at auctor. Integer ut velit lorem. Orci varius natoque penatibus et magnis dis parturient
    montes, nascetur ridiculus mus. Fusce rutrum mauris at risus condimentum faucibus. Praesent non commodo erat. Proin
    id lectus id nunc eleifend tincidunt finibus vel leo. Suspendisse mollis, purus a efficitur ultrices, lacus mauris
    imperdiet urna, vel ultricies urna ex vel eros. Sed mollis tortor id vulputate commodo. Donec maximus tincidunt
    metus, sit amet porta turpis feugiat eget. Pellentesque nec efficitur tortor. Proin vel magna ac diam suscipit
    blandit sit amet vel justo. Vestibulum augue purus, pretium in neque non, venenatis pulvinar magna. Aliquam sem
    lectus, pulvinar eget sapien quis, rutrum semper nisl.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus elit tellus, et pretium sem ultrices eu.
    Maecenas volutpat a dolor at auctor. Integer ut velit lorem. Orci varius natoque penatibus et magnis dis parturient
    montes, nascetur ridiculus mus. Fusce rutrum mauris at risus condimentum faucibus. Praesent non commodo erat. Proin
    id lectus id nunc eleifend tincidunt finibus vel leo. Suspendisse mollis, purus a efficitur ultrices, lacus mauris
    imperdiet urna, vel ultricies urna ex vel eros. Sed mollis tortor id vulputate commodo. Donec maximus tincidunt
    metus, sit amet porta turpis feugiat eget. Pellentesque nec efficitur tortor. Proin vel magna ac diam suscipit
    blandit sit amet vel justo. Vestibulum augue purus, pretium in neque non, venenatis pulvinar magna. Aliquam sem
    lectus, pulvinar eget sapien quis, rutrum semper nisl.
  </p>
</div>
