@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "./style/variables";

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: $theme-text-color;
}

.card {
  background-color: $theme-card-bg;
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
}
